



.employée-wrapper {
    display: flex;
    width: 300px;
    border: solid, 1px, black;
    padding: 8px;
}

.blabla {
    width: 50%;
}

.image-picture {
    width: 50%;
}

img {
    border-radius: 100%;
}

p {
    
}